<main>
<h2>AFKHA</h2>
<p> <% if current_user %>
		<%= @user.name%>,
	<% end %>
	Can you guess when Akha will come back from being AFK?
</p>
	<% if current_user %>
		<p> <%= @user.name %> Put your guess here</p>
	<% else %>
    	<%= form_for(@user) do |f| %>
      		<%= f.label :name %>
      		<%= f.text_field :name %>

      		<%= f.submit "Submit" %>
    	<% end %>
    <% end %>

</main>
